node_modules/
student_name_overrides.json
delta_input/*
!delta_input/.gitkeep
skedula_output/*
!skedula_output/.gitkeep
period_mappings.json
period_templates/*
!period_templates/pdx.csv.sample
.DS_Store
